p {
  margin: 0;
}

h2, h3 {
  margin: 0;
}

.open-vacancies-title {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  align-items: center;
  margin-bottom: 10px;
}
.open-vacancies-title input {
  border: none;
}
.open-vacancies-title input, .open-vacancies-title textarea {
  outline: none;
}
.open-vacancies-title input:active, .open-vacancies-title textarea:active {
  outline: none;
}
.open-vacancies-title :focus {
  outline: none;
}
.open-vacancies-title textarea {
  resize: none;
}
.open-vacancies-title textarea {
  resize: vertical;
}
.open-vacancies-title textarea {
  resize: horizontal;
}
.open-vacancies-title input[type=email]::placeholder,
.open-vacancies-title input[type=password]::placeholder {
  font-size: 12px;
  line-height: 16px;
  color: rgba(56, 56, 56, 0.4);
  margin: 4px 0;
}
.open-vacancies-title #icon-lupa {
  width: 15px;
  height: 15px;
}

.funnel-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 16px;
  color: #383838;
  margin-top: 20px;
  margin-bottom: 10px;
}

.funnel-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(56, 56, 56, 0.4);
}

.funnel-main {
  max-width: 1920px;
  max-height: 1080px;
  padding: 0 56px 56px 56px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 80px;
  font-family: Yantramanav, serif;
}
.funnel-main .score {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: #383838;
  margin-bottom: 4px;
}
.funnel-main .state {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #383838;
  opacity: 0.7;
}
.funnel-main .header {
  display: flex;
  grid-area: 1/1/2/7;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.funnel-main .header #logo {
  width: 128px;
  height: 24px;
}
.funnel-main .header .menu {
  display: flex;
  justify-content: space-between;
}
.funnel-main .header .menu a {
  text-decoration: none;
}
.funnel-main .header .menu a .menu-item {
  list-style: none;
  margin-right: 20px;
  font-family: Yantramanav, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #383838;
}
.funnel-main .header .name-of-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.funnel-main .funnel-progress-statistics {
  width: 100%;
  max-height: 272px;
  display: grid;
  grid-area: 2/1/5/5;
  grid-template-columns: 70% 30%;
  grid-gap: 40px;
}
.funnel-main .funnel-progress-statistics .current-stage-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.funnel-main .funnel-progress-statistics #graph {
  width: 100%;
}
.funnel-main .funnel-progress-statistics .current-stage {
  width: 100%;
}
.funnel-main .funnel-progress-statistics .current-stage-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 178px;
  max-height: 72px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 25px;
  padding: 18px;
}
.funnel-main .funnel-progress-statistics .current-stage-item img {
  display: block;
  width: 25px;
  height: 25px;
}
.funnel-main .funnel-progress-statistics .current-stage-item .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 18px;
}
.funnel-main .leaderboard {
  display: grid;
  grid-area: 5/1/8/5;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.funnel-main .leaderboard a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #383838;
  opacity: 0.5;
  margin: 0 16px;
}
.funnel-main .leaderboard .leaderboard-rate {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 40px;
  flex-direction: row;
}
.funnel-main .leaderboard .leaderboard-rate .leader-employees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.funnel-main .leaderboard .leaderboard-rate .leader-card {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
  box-shadow: -1px 2px 8px rgba(56, 56, 56, 0.15);
  border-radius: 8px;
  margin: 0 12px;
  padding: 10px;
}
.funnel-main .leaderboard .leaderboard-rate .leader-card .score {
  font-family: Verdana, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}
.funnel-main .leaderboard .leaderboard-rate .leader-card p {
  margin: 0;
}
.funnel-main .leaderboard .leaderboard-rate .leader-card .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.funnel-main .leaderboard .leaderboard-rate .not-leader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.funnel-main .leaderboard .leaderboard-rate .not-leader .notLeader-card {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;
}
.funnel-main .leaderboard .leaderboard-rate .not-leader .notLeader-card .notLeader-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.funnel-main .vacancies {
  display: grid;
  grid-area: 2/5/5/7;
  margin-bottom: 80px;
}
.funnel-main .vacancies .about-vacancies {
  margin-bottom: 30px;
  max-width: 400px;
}
.funnel-main .vacancies .about-vacancies .card {
  width: 100%;
}
.funnel-main .vacancies .about-vacancies .card .slick-slider .slick-initialized .slick-dots {
  margin-top: -30px;
}
.funnel-main .vacancies .vacancy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 40px 24px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.15);
  border-radius: 8px;
  margin-bottom: 16px;
}
.funnel-main .vacancies .vacancy .vacancy-column {
  display: flex;
  flex-direction: column;
  color: rgba(56, 56, 56, 0.4);
}
.funnel-main .vacancies .vacancy .vacancy-column .vacancy-status, .funnel-main .vacancies .vacancy .vacancy-column .name-step {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0;
}
.funnel-main .vacancies .buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 28px;
}
.funnel-main .vacancies .buttons #btn-edit-funnel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #FED614;
  border-radius: 8px;
  color: #383838;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}
.funnel-main .vacancies .buttons #btn-download-report {
  font-size: 14px;
  line-height: 16px;
  color: #383838;
  border: none;
  background-color: #FFFFFF;
}
.funnel-main .open-vacancies {
  display: grid;
  grid-area: 5/5/8/7;
  flex-direction: column;
}
.funnel-main .open-vacancies .vacancy-list-card {
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.15);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  margin-bottom: 5px;
}
.funnel-main .open-vacancies .vacancy-list-card .vacancy-open-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.funnel-main .open-vacancies .vacancy-list-card .vacancy-open-info .vacancy-name {
  font-size: 14px;
  line-height: 16px;
  color: #383838;
}
.funnel-main .open-vacancies .vacancy-list-card .vacancy-open-info .vacancy-step {
  font-size: 12px;
  line-height: 12px;
  color: rgba(56, 56, 56, 0.4);
}
.funnel-main .open-vacancies .vacancy-list-card .icon-arrow-left {
  padding-left: 10px;
  display: block;
}
.funnel-main .open-vacancies #btn-new-vacancy {
  width: 100%;
  height: 36px;
  background: #FED614;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #383838;
  border: none;
  margin-top: 20px;
}

/*# sourceMappingURL=funnel.css.map */
