@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400&display=swap');


.welcome_panel {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;

  .authorization-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-login {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: relative;

      .login-title {
        font-family: Yantramanav;
        font-style: normal;
        font-size: 24px;
        line-height: 16px;
        color: #383838;
        flex: none;
        margin: 32px 0;
      }

      label {
        font-size: 10px;
        line-height: 16px;
        color: rgba(56, 56, 56, 0.4);
        margin: 4px 0;
      }

      input {
        border: none;
        margin-bottom: 5px;
      }

      input, textarea {outline:none;}
      input:active, textarea:active {outline:none;}
      :focus {outline:none;}
      textarea {resize:none;}
      textarea {resize:vertical;}
      textarea {resize:horizontal;}

      input[type=email]::placeholder,
      input[type=password]::placeholder {
        font-size: 12px;
        line-height: 16px;
        color: rgba(56, 56, 56, 0.4);
        margin: 4px 0;
      }

      .line {
        margin-bottom: 25px;
      }

      #submit-authorization-form {
        width: 100%;
        height: 36px;
        background: #FED614;
        border-radius: 8px;
        margin: 32px 0;
        color: black;
        font-size: 14px;
        line-height: 16px;
        border: none;
      }

      .input-login {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .icon {
        height: 16px;
        width: 20px;
        padding-bottom: 10px;
        color: rgba(56, 56, 56, 1);
      }

    }
  }

  .welcome-join {
    font-family: Yantramanav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 56px 0 56px;
    height: 100%;
    background: #FED614;
    border-radius: 0 32px 0 0;
    color: #383838;
    box-sizing: border-box;

    #logo {
      height: 48px;
      width: 34px;
      margin-bottom: 150px;
    }

    .welcome-title {
      font-size: 24px;
      line-height: 16px;
      order: 0;
      margin: 32px 10px;
    }

    .about-jampad {
      font-size: 18px;
      line-height: 23px;
      margin: 20px 10px;
    }

    .go-join {
      font-size: 14px;
      line-height: 16px;
      margin: 0px 10px;
    }

    .btn-join {
      width: 100%;
      max-height: 36px;
      background-color: #383838;
      border-radius: 8px;
      order: 2;
      margin: 32px 0px;
      padding: 10px;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;

    }
  }
}
